<div class="bg-white mx-auto container pt-20 ">
  <div class="px-4 sm:px-6 lg:px-8">
    <!-- The container class restricts the width and centers the content -->
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-5 xl:gap-x-8">
      <% @properties.each do |property| %>
          <%= render 'properties/property_item', property: property, minimal_details: false %>
      <% end %>
    </div>
  </div>
</div>