<div class="mx-auto container pt-20 lg:flex lg:gap-x-16 lg:px-8">
  <%= render 'shared/owner_sidebar' %>
  <main class="lg:ml-64 px-8 my-8 lg:flex-auto">
	  <%# property info %>
	  <%= render 'owner/properties/form', path: owner_properties_path %>
  </main>

</div>
