<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-4 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8">
    <div class="flex">
      <%= link_to :back, class: "flex items-center text-black font-bold text-lg hover:underline" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
      </svg>
      <% end %>
      <h2 class="text-3xl font-medium leading-6 text-gray-900">Wishlists</h2>
    </div>
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <% @properties.each do |property| %>
        <%= render 'properties/property_item', property: property, minimal_details: true %>
      <% end %>
    </div>
  </div>
</div>